:root {
  /* Colours */
  --primary-bg-color: #e8ebee; /* used */
  --primary-font-color: #474d52; /* used */

  --secondary-bg-color: #5d656c; /* used */
  --secondary-font-color: #d5e5f4; /* used */

  --splaceholder-bg-color: #eb9e1a; /* used */
  --placeholder-font-color: #575c61; /* used */

  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;

  /* Borders */
  --border-color: #007bff; /* used */
  --border-color-light: #f7f5c2; /* used */

  --disabled-color: #6c757d;

  /* Links */
  --link-color: #ccd4dd; /* used */
  --hover-color: #f9fcfe; /* used */
  --active-color: #ffee56; /* used */

  /* Fonts */
  --default-font: "Roboto", sans-serif;
  --headline-font: "Roboto", sans-serif;
  --body-font: "Roboto", sans-serif;
  --code-font: "Roboto Mono", monospace;

  /* Sizes */
}
