body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
header nav {
  display: flex;
  justify-content: space-between;
}

@media (width > 600px) {
  main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: min-content 1fr;
  }
  h1 {
    grid-column: 1 / -1;
  }
}
